<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/), Data Scientist @ Mail.Ru Group <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
# You code here
data['sex'].count()

32561

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [7]:
# You code here
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [18]:
data.shape[0]

32561

In [24]:
# You code here
((data['native-country'] == 'Germany').sum() / data.shape[0]) * 100

0.42074874850281013

**4-5.** __What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?__

In [15]:
# You code here
# data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()
data['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [19]:
# df[df['Churn'] == 1]['Total day minutes'].mean()
data[data['salary'] == '>50K']['age'].mean()

44.24984058155847

In [20]:
data[data['salary'] == '>50K']['age'].std()

10.519027719851826

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [22]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [23]:
# You code here -- My Solution
pd.crosstab(data['salary'], data['education']) #ANSWER: No

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
salary,,,,,,,,,,,,,,,,
<=50K,871,1115,400,162,317,606,487,802,1021,3134,107,8826,764,51,153,5904
>50K,62,60,33,6,16,40,27,265,361,2221,306,1675,959,0,423,1387

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [27]:
# You code here
pd.crosstab(data['age'], data['race'])

race  Amer-Indian-Eskimo  Asian-Pac-Islander  Black  Other  White
age
17                     3                   2     34      7    349
18                     4                  11     46      6    483
19                     6                  15     56      5    630
20                     3                  20     63     14    653
21                     6                  16     65      6    627
22                     9                  27     76      5    648
23                    13                  40     87      8    729
24                     6                  36     85      9    662
25                     9                  23     91     11    707
26                     3                  32     85     17    648
27                    11                  37     84     10    693
28                    14                  22    102     14    715
29                    11                  33     84     15    670
30                    10                  38     87      5    721
31                    16                  31     84     10    747
32                     7                  28     79     11    703
33                     7                  30    105     13    720
34                     8                  29     94      3    752
35                    16                  40     83      4    733
36                     5                  33     90      7    763
37                     7                  29     79      5    738
38                     6                  23     85      4    709
39                     7                  34     81      4    690
40                    11                  19     73      6    685
41                     5                  26     86      7    684
42                    13                  22     80      4    661
43                     8                  26     79      7    650
44                     4                  25     80      8    607
45                     5                  39     72      4    614
46                    13                  18     70      4    632
..                   ...                 ...    ...    ...    ...
60                     6                   8     23      2    273
61                     1                   8     31      0    260
62                     1                   5     24      0    228
63                     2                   7     16      1    204
64                     0                   5      7      0    196
65                     1                   5      8      1    163
66                     0                   3     20      1    126
67                     1                   2     13      0    135
68                     2                   0      8      0    110
69                     0                   1      6      0    101
70                     0                   3      3      0     83
71                     1                   1      4      0     66
72                     0                   3      4      0     60
73                     0                   4      0      0     60
74                     1                   0      6      1     43
75                     0                   3      5      0     37
76                     0                   0      2      0     44
77                     0                   0      2      1     26
78                     0                   2      1      0     20
79                     0                   0      1      0     21
80                     1                   0      0      0     21
81                     0                   0      1      0     19
82                     1                   0      0      0     11
83                     0                   0      0      0      6
84                     0                   0      1      0      9
85                     0                   0      0      0      3
86                     0                   0      0      0      1
87                     0                   0      0      0      1
88                     0                   0      0      0      3
90                     0                   5      4      0     34

[73 rows x 5 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [ ]:
# You code here

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [ ]:
# You code here

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
# You code here